@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root{
    --cor-primaria: #222831;
    --cor-hover: #393E46;
    --cor-secundaria: #FFD369;
    --cor-terciaria: #EEEEEE;

    --fonte-primaria: "Monte Serana", sans-serif;
}

*{
    margin: 0;

    font-family: '';
}