@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

:root{
    --cor-primaria: #222831;
    --cor-hover: #393E46;
    --cor-secundaria: #F68B27;
    --cor-terciaria: #EEEEEE;

    --fonte-primaria: "Crimson Text", Helvetica;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", Helvetica;

}

iframe {
  width: 100%;
  height: 100vh;

  border: 0;
}

.logo {
  width: 199px;
  height: 129px;
  /*font-size: 2em;*/
  background: url(../assets/v1.1.1_WellmizeLogo.png) no-repeat;
  border-style: hidden;
  /*color: var(--cor-terciaria);*/
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: var(--cor-terciaria);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--cor-secundaria);
  border-radius: 5px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--cor-terciaria);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: var(--cor-terciaria);
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnRegister-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--cor-terciaria);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: var(--cor-terciaria);
  font-weight: 500;
  margin-left: 20px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  border: 2px solid var(--cor-terciaria);
  background: var(--cor-secundaria);
  color: transparent var(--cor-hover);
}

.navigation .btnRegister-popup:hover {
  border: 2px solid var(--cor-terciaria);
  background: var(--cor-secundaria);
  color: transparent var(--cor-hover);
}

.form-box h2 {
  font-size: 2em;
  color: var(--cor-terciaria);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--cor-terciaria);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--cor-terciaria);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--cor-terciaria);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: var(--cor-terciaria);
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: var(--cor-terciaria);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: var(--cor-primaria);
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--cor-secundaria);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: var(--cor-secundaria);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: var(--cor-primaria);
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: var(--cor-terciaria);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}
