:root {
    --cor-primaria: #222831;
    --cor-hover: #393e46;
    --cor-secundaria: #f68b27;
    --cor-terciaria: #eeeeee;
  
    --fonte-primaria: "Crimson Text", Helvetica;
  }

body{
    background: var(--cor-terciaria);
}

#side_nav{
    background: rgb(0, 0, 0);
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#nav_bar{
    background: var(--cor-secundaria) !important;
}

.content{
    min-height: 100vh;
    width:100% ;
}
hr.h-color{
    background:var(--cor-terciaria);
}

.sidebar li.active{
    background: var(--cor-terciaria);
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: var(--cor-primaria);
}
.sidebar li a{
    color: var(--cor-terciaria);
}

@media(max-width:767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
       margin-left: 0; 
    }
}