@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

:root{
    --cor-primaria: #222831;
    --cor-hover: #393E46;
    --cor-secundaria: #F68B27;
    --cor-terciaria: #EEEEEE;

    --fonte-primaria: "Crimson Text", Helvetica;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: url(../assets/jovem-se-exercitando-com-fones-de-ouvido-no-ginasio-gerado-por-ia.jpg);
    color: #514b64;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizar verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    height: 105vh; /* Isso faz com que o container ocupe toda a altura da viewport */
}

.rounded-lg{
    border-radius: 1rem !important;

}

.text-small{
    font-size: 0.9rem;
}

.custom-seperator{
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}

.text-uppercase{
    letter-spacing: 0.3rem;
}


